.main-footer {
  background-color: #f5f5f5; 
  color: #3d3d3d; 
  flex-shrink: 0; 
  padding: 2% 5%;
  font-family: Arial, sans-serif; 
  position: relative; 
  width: 100% !important; 
  margin-top: auto; 
  box-sizing: border-box; 
  text-align: left; 
}

.footer-container {
  max-width: 90%; 
  margin: 0 auto; 
  display: flex; 
  flex-wrap: wrap; 
  width: 100%; 
  justify-content: flex-start; 
  gap: 30px; 
}

.footer-col.info-col {
  flex: 3 1 400px; 
  min-width: 280px; 
}

.footer-heading {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem); 
  font-weight: bold; 
  text-decoration: underline; 
  text-underline-offset: 4px; 
  margin: 0.5rem 0; 
  line-height: 1.2; 
  color: #000;
}

.footer-col p {
  font-size: clamp(14px, 1vw + 2px, 16px); 
  line-height: 1.4; 
  margin: 0 0 20px 0; 
}

.footer-description {
  font-size: 0.9rem; 
  line-height: 1.6; 
  max-width: 100%; 
}

.links-section {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 60px; 
  padding: 0; 
  flex: 2 1 auto;
}

.footer-col {
  flex: 1; 
  min-width: fit-content; 
}

.footer-links {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.footer-links li {
  margin-bottom: 18px; 
}

.footer-links a {
  color: #3d3d3d; 
  text-decoration: none; 
  font-size: 14px; 
  opacity: 0.9; 
  display: block; 
  transition: color 0.2s; 
}

.footer-links a:hover {
  opacity: 1;
  color: #000; 
}

.social-icons {
  margin-top: auto; 
  display: flex; 
  gap: 15px; 
  padding-top: 20px; 
}

.social-icons a {
  color: #3d3d3d; 
  font-size: 18px;
  text-decoration: none; 
}

.footer-divider {
  border: 0; 
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
  margin: 30px 0 15px; 
}

.footer-bottom {
  border-top: 1px solid #3d3d3d; 
  padding-top: 1rem; 
  width: 100%; 
}

.footer-bottom p {
  font-size: 0.8rem; 
  color: #3d3d3d; 
  margin: 0; 
}

@media (max-width: 992px) {
  .links-section {
    gap: 40px;
  }
  .footer-col.info-col {
    flex: 1 1 100%; 
  }
}

@media (max-width: 600px) {
  .main-footer {
    padding: 10% 5%; 
  }

  .footer-container {
    flex-direction: column; 
    gap: 2rem; 
  }
  
  .links-section {
    flex-direction: column;
    gap: 2rem; 
  }

  .footer-col.info-col {
    flex: 1 1 auto; 
  }

  .footer-heading {
    font-size: 1.8rem;
  }
}

@media (min-width: 1800px) {
  .footer-container {
    max-width: 100%; 
  }
}